.intro__main-text{
    margin: 0 auto;
    max-width:683px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (min-width:320px) and  (max-width:767px){
    .intro__main-text{
        font-size: 14px;
        line-height: 24px;
    }
}
